h4 {
  color: yellow;
  background: #000;
}
/* p {
  color: rgb(251, 98, 3);
  background: #16fc02;
} */
pre {
  color: #16fc02;
  background: #000;
}
.t_upper {
  text-transform: uppercase;
  word-spacing: 30px;
}
.t_lower {
  text-transform: lowercase;
  letter-spacing: 20px;
}
.t_capitalize {
  text-transform: capitalize;
}
.t_align {
  text-align: center;
}
.t_alignr {
  text-align: right;
}
.text_dec {
  text-decoration: underline;
}
.text_deco {
  text-decoration: overline;
}
.text_declt {
  text-decoration: line-through;
}
.text_decor {
  text-decoration: underline overline line-through;
}
.text_in {
  text-indent: 50px;
}
.text_lh {
  line-height: 2cap;
}
.text_shadow {
  text-align: center;
  font-size: 22px;
  color: blue;
  text-shadow: 2px 2px 4px red;
}
.text_shadow2 {
  text-align: center;
  font-size: 22px;
  color: red;
  text-shadow: 2px 2px 4px black;
}
.b_shadow {
  box-shadow: 2px 2px 4px red;
}
.d_shadow {
  filter: drop-shadow(2px 2px 4px green);
  height: 200px;
  width: 200px;
}
#id_selec {
  color: red;
  background: #000;
  box-shadow: 2px 2px 4px yellow;
}
.tx_col {
  color: blue;
}
.tx_bg {
  background: aqua;
}
.tx_size {
  font-size: 30px;
  box-shadow: 2px 2px 4px red;
}
.font_family1 {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
}
.font_family2 {
  font-family: monospace;
  color: red;
}
.font_family3 {
  font-family: cursive;
  color: grey;
}
.font_family4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: indigo;
}
.font_family5 {
  font-family: italic;
  color: cornflowerblue;
}
.font_family6 {
  font-family: sans-serif;
  color: darkblue;
}
.border_1 {
  border: 2px solid red;
  border-radius: 20px 10px 20px 10px red;
}
.border_2 {
  border: 2px dotted red;
  border-color: red yellow green blue;
}
.border_3 {
  border: 2px dashed red;
}
.border_4 {
  border: 2px double red;
}
.border_5 {
  border: 2px inset red;
}
.border_6 {
  border: 2px outset red;
}

/* img {
  height: 500px;
  width: 500px;
} */
/* .box1 {
  
  background:blanchedalmond;
  padding: 20px;
  margin: 20px;
  border: 2px dashed black;
}
.box2 {
  
  background:aqua;
  padding: 20px 40px 20px 40px;
  margin: 20px 40px 20px 40px;
  border: 2px inset black;
}
.box3 {
  color: white;
  background: brown;
  padding: 100px 75px 50px 25px;
  margin: 80px 60px 40px 20px;
    border: 2px double black;
} */
.img1 {
  box-shadow: 2px 2px 4px red;
  /* height: 50px;
    width: 50px; */
  padding: 20px;
  margin: 20px;
  border: 2px outset black;
  border-radius: 20px 10px 20px 10px;
}
.img2 {
  box-shadow: 2px 2px 4px yellow;
  /* height: 50px;
    width: 50px; */
  padding: 50px;
  margin: 50px;
  border: 2px dotted black;
  border-radius: 50px 10px 50px 10px;
}
.img3 {
  /* height: 50px;
 width: 50px; */
  padding: 40px;
  margin: 30px;
  box-shadow: 2px 2px 4px green;
  border: 2px solid black;
  border-radius: 30px 50px 70px 90px;
}
.lineargradiet {
  background: linear-gradient(red, yellow, green, blue);
}
.gradient {
  font-size: 100px;
  text-align: center;
  padding: 20px;
}
.lineargradiet1 {
  background: linear-gradient(to right, red, yellow, green, blue);
}
.gradient1 {
  font-size: 100px;
  text-align: center;
  padding: 20px;
}
.radialgradient {
  background: radial-gradient(circle, red, yellow, green, blue);
}
.gradient2 {
  font-size: 100px;
  text-align: center;
  padding: 20px;
}
.radialgradient1 {
  background: radial-gradient(circle, yellow, orange, red, green, blue);
}
.gradient3 {
  font-size: 100px;
  text-align: center;
  padding: 20px;
}
div ul li {
  padding: 20px;
  margin: 20px;
}
.conicgradient {
  background: conic-gradient(from 90deg, red, yellow, green, blue);
}
.gradient4 {
  font-size: 10px;
  text-align: center;
  padding: 20px;
}
.conicgradient1 {
  background: conic-gradient(from 180deg, red, yellow, green, blue);
}
.gradient5 {
  font-size: 10px;
  text-align: center;
  padding: 20px;
}
.conicgradient2 {
  background: conic-gradient(from 270deg, red, yellow, green, blue);
}
.gradient6 {
  font-size: 10px;
  text-align: center;
  padding: 20px;
}
.background1 {
  background-image: url(/images/images/product-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.background2 {
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.box {
  height: 100px;
  width: 200px;
  background: aqua;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px red;
  text-align: center;
  border: black 2px solid;
}
.box1 {
  position: static;
}
.box2 {
  position: relative;
  top: 20px;
  left: 200px;
}
.box3 {
  position: absolute;
  top: 20px;
  left: 400px;
}
.box4 {
  position: sticky;
  top: 20px;
  left: 600px;
}
.box5 {
  position: fixed;
  bottom: 10px;
  right: 80px;
}
/* POSITION EXAMPLE */

.hall {
  position: relative;

  width: 500px;
  height: 300px;
  background: aqua;
  border: 2px solid black;
  border-radius: 20px;
}
.tv {
  height: 20px;
  width: 50px;
  background: black;
  position: absolute;
  top: 20px;
  left: 225px;
  color: white;
  border: white 2px solid;
  border-radius: 20px;
  padding: 2px;
  box-shadow: 2px 2px 4px red;
}
.sofa {
  height: 100px;
  width: 200px;
  background: pink;
  position: absolute;
  top: 100px;
  left: 150px;
  border: white 2px solid;
  border-radius: 10px;
  padding: 2px;
}

.fridge {
  height: 100px;
  width: 80px;
  background: grey;
  position: absolute;
  bottom: 10px;
  right: 20px;
  top: 180px;
  border: white 2px solid;
  border-radius: 15px;
  padding: 2px;
  box-shadow: 2px 2px 4px black;
}
.table {
  height: 50px;
  width: 100px;
  background: brown;
  position: absolute;
  top: 225px;
  left: 2px;
  border: white 2px solid;
  border-radius: 10px;
  padding: 2px;
}
.door {
  height: 50px;
  width: 50px;
  background: white;
  position: absolute;
  top: 245px;
  left: 245px;
  /* border:black 2px solid; */
  /* border-radius: 10px; */
  padding: 2px;
}

/* FLEX EXAMPLE */

/* .flex-items{
  background-color: #16fc02;
  margin: 10px;
  width: 200px;
  height: 150px;
  color: black;
  text-align: center;
  font-size: 40px;
  list-style: none;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  flex-direction: row-reverse;
} */
.flex-items {
  background-color: white;
  padding: 20px;
  margin: 20px;
  /* width: 250px;
  height: 200px; */
  color: black;
  text-align: center;
  font-size: 40px;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 2px solid black; */
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  /* flex-direction: row-reverse; */
}
/* img {
  width: 250px;
  height: 200px;
  /* padding: 20px;
  margin: 20px; */
} */
img:hover {
  border: 2px solid red;
  box-shadow: 2px 2px 4px red;
  border-radius: 10px;
}
h1 {
  /* text-align: center; */
  color: blue;
  font-size: 50px;
  text-shadow: 2px 2px 4px red;
  /* background-color: yellow; */
}
input:focus {
  color: white;
  background-color: black;
}
a:visited {
  color: purple;
}
h2 {
  color: green;
}
h2:active {
  color: red;
  font-size: 30px;
}
p::first-letter {
  color: red;
  font-size: 30px;
}
p::first-line {
  color: blue;
  font-size: 20px;
}
p::selection {
  background-color: yellow;
  color: purple;
}
::selection {
  background-color: black;
  color: white;
}
/* TRANSMISSION EXAMPLE */
.mission {
  background-color: white;
  padding: 20px;
  margin: 20px;
  /* width: 250px;
  height: 200px; */
  color: black;
  text-align: center;
  font-size: 40px;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  transition: transform 2s ease;
  overflow: hidden;
}
.trans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  /* flex-direction: row-reverse; */
}
.ani1:hover {
  transform: translate(100px, 100px);
}
.ani2:hover {
  transform: translateX(100px);
}
.ani3:hover {
  transform: translateY(100px);
}
.ani4:hover {
  transform: rotate(90deg);
}
.ani5:hover {
  transform: Skew(10deg);
}
.ani6:hover {
  transform: SkewX(10deg);
}
.ani7:hover {
  transform: SkewY(10deg);
}
.ani8:hover {
  transform: scale(1.5);
}
.ani9:hover {
  transform: scaleX(1.5);
}
.ani10:hover {
  transform: scaleY(1.5);
}
.ani11:hover {
  transform: scale(2) rotate(45deg) translate(50px, 50px) skew(10deg, 10deg);
}
/* SIMPLE ANIMATION */
/* div {
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
  animation: firstanimation;
  animation-duration: 10s;
  animation-iteration-count: 2;
  /* animation-delay: 2s; */
  /* animation-direction: alternate;
}
@keyframes firstanimation {
  0%{background-color:yellow;left: 300px;top: 0px;}
  25%{background-color:green;left: 300px;top: 300px;}
  50%{background-color:blue;left: 0px;top: 300px;}
  100%{ background-color:red;left: 0px;top: 0px;}
  } */ */
/* @keyframes firstanimation {
  0% {
    background-image: url(/images/images/app-store.png);
    left: 300px;
    top: 0px;
  }
  25% {
    background-image: url(/images/images/product-1.jpg);
    left: 300px;
    top: 300px;
  }
  50% {
    background-image: url(/images/images/buy-1.jpg);
    left: 0px;
    top: 300px;
  }
  100% {
    background-image: url(/images/images/buy-3.jpg);
    left: 0px;
    top: 0px;
  } */

  /* Nth-CHILD */
}
ul {
  width: 200px;
  padding: 10px;
  list-style-type: none;
  font-weight: 800;
}
li {
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px red;
  border-radius: 8px;
}
li:nth-child(odd){
  background-color: yellow;
}
li:nth-child(even){
  background-color: orange;
  color: white;
}
/* li:nth-child(5){
  background-color:blue;
} */
 /* li:first-child{
background-color: aquamarine;
 }
 li:last-child{
  background-color:palevioletred;
 } */

 /* FANCY TEXT */


 .text-container{
display: flex;
justify-content: center;
letter-spacing: 20px;
font-weight: 900;
font-size: 70px;
perspective: 100px;

 }
 .text-container>b{
  height: 80px;
  box-shadow: 0px 2px 3px red ;
  background: linear-gradient(to right,yellow,orange,red,pink);
  background-clip: text;
  color: transparent;
  transform-origin: bottom;
  transform: rotateX(-85deg);
  animation: getup  10s infinite;
 }
 .text-container b:nth-child(1)
 {
  animation-delay :0s;
 }
  .text-container b:nth-child(2)
 {
  animation-delay :0.15s;
 }
 .text-container b:nth-child(3)
 {
  animation-delay :0.30s;
 }
 .text-container b:nth-child(4)
 {
  animation-delay :0.45s;
 }
 .text-container b:nth-child(5)
 {
  animation-delay :0.60s;
 }
 .text-container b:nth-child(6)
 {
  animation-delay :0.75s;
 }
 @keyframes getup {
  from{transform:rotateX(-85deg);}
  40%,70%{transform: rotateX(0);}
  to{transform: rotateX(-85deg);}
  
 }

 /*  */

 .photo{
  animation: swing 1.5s ease-in-out infinite alternate;
  transform-origin: top center;
  position: relative;
 }
 .swing img{
  width: 300px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px red;

 }
 @keyframes swing {
  from{transform: rotateX(7deg);}
  to{transform: rotateX(-7deg);}
  
 }



