h4{
color: yellow;
background: #000;
}
p{
    color: rgb(251, 98, 3);
    background: #16fc02;
}
pre{
    color: #16fc02;
    /* background: #000; */
}
.t_upper{
    text-transform: uppercase;
    word-spacing: 30px;
}
.t_lower{
    text-transform: lowercase;
    letter-spacing: 20px;
}
.t_capitalize{
    text-transform: capitalize;
}
.t_align{
    text-align: center;
}
.t_alignr{
    text-align: right;
}
.text_dec{
    text-decoration: underline;
}
.text_deco{
    text-decoration: overline;
}
.text_declt{
    text-decoration: line-through;
}
.text_decor{
    text-decoration: underline overline line-through;
}
.text_in{
    text-indent: 50px;
}
.text_lh{
    line-height: 2cap;
}
.text_shadow{
    text-align: center;
    font-size: 22px;
    color: blue;
    text-shadow: 2px 2px 4px red;
}
.text_shadow2{
    text-align: center;
    font-size: 22px;
    color: red;
    text-shadow: 2px 2px 4px black;
}
.b_shadow{
    box-shadow: 2px 2px 4px red;
    
}
.d_shadow{
    filter: drop-shadow(2px 2px 4px green);
    height: 200px;
    width: 200px;
}
#id_selec{
    color: red;
    background: #000;
    box-shadow: 2px 2px 4px yellow;
}
.tx_col{
    color: blue;
    
}
.tx_bg{
    background: aqua;
}
.tx_size{
    font-size: 30px;
    box-shadow: 2px 2px 4px red;
}
.font_family1{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.font_family2{
    font-family: monospace;
    color: red;
}
.font_family3{
    font-family: cursive;
    color: grey;
}
.font_family4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
}
.font_family5{
    font-family:italic;
    color: cornflowerblue;
}
.font_family6{
    font-family: sans-serif;
    color: darkblue;
}
.border_1{
    border: 2px solid red;
     border-radius: 20px 10px 20px 10px red;
     
}
.border_2{
    border: 2px dotted red;
    border-color:red yellow green blue;
}
.border_3{
    border: 2px dashed red;

}
.border_4{
    border: 2px double red;
}
.border_5{
    border:2px inset red
}
.border_6{
    border: 2px outset red;
}

img{
    height: 500px;
    width: 500px;
}





